<a href="https://colab.research.google.com/github/eumoas/Data-Engineer/blob/main/Copy_of_Aula_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Importação de biblioteca(s)

In [ ]:
pip install pandera

In [ ]:
import pandas as pd
import pandera as pa
# import

## Ler Dataset ( Multiplas fontes)

In [ ]:
df = pd.read_csv("https://storage.googleapis.com/dados_brutos_soulcode/original/ocorrencia.csv",sep=";",parse_dates=['ocorrencia_dia'],dayfirst=True)

In [ ]:
#df.info()
df

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,52242,52242,52242,52242,52242,INCIDENTE,NaN,NaN,PORTO ALEGRE,RS,...,2012-01-05,20:27:00,***,FINALIZADA,***,NÃO,NaN,0,1,NÃO
1,45331,45331,45331,45331,45331,ACIDENTE,-23.4355555556,-46.4730555556,GUARULHOS,SP,...,2012-01-06,13:44:00,SIM,FINALIZADA,A-582/CENIPA/2014,SIM,2016-09-01,3,1,NÃO
2,45333,45333,45333,45333,45333,ACIDENTE,***,***,VIAMÃO,RS,...,2012-01-06,13:00:00,NaN,FINALIZADA,A-070/CENIPA/2013,SIM,2013-11-27,0,1,NÃO
3,45401,45401,45401,45401,45401,ACIDENTE,***,***,SÃO SEBASTIÃO,SP,...,2012-01-06,17:00:00,***,NaN,NaN,NÃO,NaN,0,1,NÃO
4,45407,45407,45407,45407,45407,ACIDENTE,***,***,SÃO SEPÉ,RS,...,2012-01-06,16:30:00,SIM,FINALIZADA,A-071/CENIPA/2013,SIM,2013-11-27,0,1,NÃO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5162,80458,80458,80458,80458,80458,ACIDENTE,-17.999194,-51.642861,JATAÍ,GO,...,2021-12-30,20:30:00,SIM,ATIVA,A DEFINIR,NÃO,NaN,0,1,NÃO
5163,80452,80452,80452,80452,80452,ACIDENTE,-22.585556,-50.753889,MARACAÍ,SP,...,2021-12-31,09:30:00,SIM,ATIVA,A DEFINIR,NÃO,NaN,0,1,NÃO
5164,80457,80457,80457,80457,80457,INCIDENTE GRAVE,-29.695833,-51.081667,NOVO HAMBURGO,RS,...,2021-12-31,11:59:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
5165,80460,80460,80460,80460,80460,INCIDENTE,-25.403333,-49.233611,CURITIBA,PR,...,2021-12-31,15:12:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
5166,80467,80467,80467,80467,80467,INCIDENTE,-9.3675,-40.56361111111,PETROLINA,PE,...,2021-12-31,20:30:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO

In [ ]:
df.dtypes

codigo_ocorrencia                          int64
codigo_ocorrencia1                         int64
codigo_ocorrencia2                         int64
codigo_ocorrencia3                         int64
codigo_ocorrencia4                         int64
ocorrencia_classificacao                  object
ocorrencia_latitude                       object
ocorrencia_longitude                      object
ocorrencia_cidade                         object
ocorrencia_uf                             object
ocorrencia_pais                           object
ocorrencia_aerodromo                      object
ocorrencia_dia                    datetime64[ns]
ocorrencia_hora                           object
investigacao_aeronave_liberada            object
investigacao_status                       object
divulgacao_relatorio_numero               object
divulgacao_relatorio_publicado            object
divulgacao_dia_publicacao                 object
total_recomendacoes                        int64
total_aeronaves_envolvidas                 int64
ocorrencia_saida_pista                    object
dtype: object

In [ ]:
df.head()
#df.tail()

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,52242,52242,52242,52242,52242,INCIDENTE,NaN,NaN,PORTO ALEGRE,RS,...,2012-01-05,20:27:00,***,FINALIZADA,***,NÃO,NaN,0,1,NÃO
1,45331,45331,45331,45331,45331,ACIDENTE,-23.4355555556,-46.4730555556,GUARULHOS,SP,...,2012-01-06,13:44:00,SIM,FINALIZADA,A-582/CENIPA/2014,SIM,2016-09-01,3,1,NÃO
2,45333,45333,45333,45333,45333,ACIDENTE,***,***,VIAMÃO,RS,...,2012-01-06,13:00:00,NaN,FINALIZADA,A-070/CENIPA/2013,SIM,2013-11-27,0,1,NÃO
3,45401,45401,45401,45401,45401,ACIDENTE,***,***,SÃO SEBASTIÃO,SP,...,2012-01-06,17:00:00,***,NaN,NaN,NÃO,NaN,0,1,NÃO
4,45407,45407,45407,45407,45407,ACIDENTE,***,***,SÃO SEPÉ,RS,...,2012-01-06,16:30:00,SIM,FINALIZADA,A-071/CENIPA/2013,SIM,2013-11-27,0,1,NÃO

In [ ]:
df.ocorrencia_classificacao.is_unique

False

##Pré analise dos dados

Dropando colunas não utilizáveis e renomeando no dataframe

In [ ]:
df.drop(['codigo_ocorrencia1','codigo_ocorrencia2','codigo_ocorrencia3','codigo_ocorrencia4','ocorrencia_latitude','ocorrencia_longitude'],axis=1,inplace=True)

In [ ]:
df.drop(['ocorrencia_pais','divulgacao_relatorio_numero','divulgacao_relatorio_publicado','divulgacao_dia_publicacao'],axis=1,inplace=True)

In [ ]:
df.rename(columns={'ocorrencia_cidade':'cidade','ocorrencia_uf':'uf','ocorrencia_aerodromo':'aerodromo','ocorrencia_dia':'data','ocorrencia_hora':'horario','investigacao_aeronave_liberada':'liberado','investigacao_status':'status','total_aeronaves_envolvidas':'total_aeronaves','ocorrencia_saida_pista':'saida_pista'},inplace=True)

## Limpeza de dados

In [ ]:
df.head(2)

,codigo_ocorrencia,ocorrencia_classificacao,cidade,uf,aerodromo,data,horario,liberado,status,total_recomendacoes,total_aeronaves,saida_pista
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,***,FINALIZADA,0,1,NÃO
1,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,SIM,FINALIZADA,3,1,NÃO

In [ ]:
sorted(pd.unique(df['uf']))



```
# Inconsistencias encontradas ['***'] na coluna uf
['###!','####','****','*****'] na Coluna aerodromo
['***'] na coluna aeronave_liberada

A verificar na coluna ocorrencia_uf
 '5JTI',
 '9PAA',
 '9PBS',
 '9PFC',
 '9PFX',
 '9PHD',
 '9PSD',
```

In [ ]:
#backup do dataframe original
df2 = df.copy()

In [ ]:
df.replace(['***','###!','####','****','*****'],pd.NA,inplace=True)

##Tratamento de dados

Validação de dados

In [ ]:
df.isna().sum()

In [ ]:
# criação do Schema de dados

schema = pa.DataFrameSchema(
    columns = {
        "codigo_ocorrencia":pa.Column(pa.Int),
        "ocorrencia_classificacao":pa.Column(pa.String),
        "cidade":pa.Column(pa.String),
        "uf":pa.Column(pa.String,pa.Check.str_length(2,2),nullable=True),
        "aerodromo":pa.Column(pa.String,pa.Check.str_length(4,4),nullable=True),
        "data":pa.Column(pa.DateTime),
        "horario":pa.Column(pa.String,pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9]):([0-5][0-9])?$'),nullable=True),
        "liberado":pa.Column(pa.String,pa.Check.str_length(3,3),nullable=True),
        "status":pa.Column(pa.String,nullable=True),
        "total_recomendacoes":pa.Column(pa.Int),
        "total_aeronaves":pa.Column(pa.Int),
        "saida_pista":pa.Column(pa.String,pa.Check.str_length(3,3))

    }
)

In [ ]:
#Validador do DataFrame baseado no Schema
schema.validate(df)

#Filtros

In [ ]:
df.isna().sum()

codigo_ocorrencia              0
ocorrencia_classificacao       0
cidade                         0
uf                             2
aerodromo                   1905
data                           0
horario                        1
liberado                    1778
status                       257
total_recomendacoes            0
total_aeronaves                0
saida_pista                    0
dtype: int64

In [ ]:
df.count()

codigo_ocorrencia           5167
ocorrencia_classificacao    5167
cidade                      5167
uf                          5165
aerodromo                   3262
data                        5167
horario                     5166
liberado                    3389
status                      4910
total_recomendacoes         5167
total_aeronaves             5167
saida_pista                 5167
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5167 entries, 0 to 5166
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   codigo_ocorrencia         5167 non-null   int64
 1   ocorrencia_classificacao  5167 non-null   object
 2   cidade                    5167 non-null   object
 3   uf                        5165 non-null   object
 4   aerodromo                 3262 non-null   object
 5   data                      5167 non-null   datetime64[ns]
 6   horario                   5166 non-null   object
 7   liberado                  3389 non-null   object
 8   status                    4910 non-null   object
 9   total_recomendacoes       5167 non-null   int64
 10  total_aeronaves           5167 non-null   int64
 11  saida_pista               5167 non-null   object
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 484.5+ KB

In [ ]:
df.shape

(5167, 12)

In [ ]:
#Filtro nulos , NA , NaN , NaT , etc
filtrosnulos = df.horario.isnull()
filtroufnulo = df.uf.isnull()
filtronuloaero = df.aerodromo.isna()

In [ ]:
df.loc[filtronuloaero]

In [ ]:
filtro1 = df.ocorrencia_classificacao == 'INCIDENTE'
filtrosaida = df.saida_pista == 'NÃO'
df.loc[filtro1]

In [ ]:
df.loc[filtro1 & filtrosaida, ['cidade','saida_pista','uf']]

In [ ]:
filtro2 = df.ocorrencia_classificacao.isin(['ACIDENTE','INCIDENTE'])
filtro3 = df.uf == 'RJ'

In [ ]:
df.loc[filtro2 & filtro3]

In [ ]:
filtroLetra = df.cidade.str[-2:] == 'IO'

In [ ]:
df.loc[filtroLetra]

In [ ]:
filtrocontain = df.cidade.str.contains('MA|RIO')

In [ ]:
df.loc[filtrocontain]

In [ ]:
filtro_ano = df.data.dt.year == 2021
filtro_mes = df.data.dt.month == 7
filtro_dia = (df.data.dt.day > 0) & (df.data.dt.day < 16 )
filtroSp = df.uf == "SP"

In [ ]:
dfspmes = df.loc[filtro_ano & filtro_mes & filtro_dia &filtroSp]

In [ ]:
dfspmes

Group By

In [ ]:
dfspmes.groupby(['aerodromo']).aerodromo.count()

aerodromo
SBBP    1
SBBU    1
SBGR    2
SBRP    4
SBSP    1
SDAM    1
SDBB    1
Name: aerodromo, dtype: int64

In [ ]:
df.groupby(['ocorrencia_classificacao']).ocorrencia_classificacao.count()

ocorrencia_classificacao
ACIDENTE           1667
INCIDENTE          2809
INCIDENTE GRAVE     691
Name: ocorrencia_classificacao, dtype: int64

In [ ]:
df.loc[:,'ocorrencia_teste'] = 'BIS'

In [ ]:
df.drop(['divulgacao_relatorio_numero','divulgacao_relatorio_publicado','divulgacao_dia_publicacao'],axis=1,inplace=True)

In [ ]:
df.drop(['ocorrencia_latitude','ocorrencia_longitude'],axis=1,inplace=True)

In [ ]:
df.loc[0:2]

   codigo_ocorrencia  ... ocorrencia_saida_pista
0              52242  ...                    NÃO
1              45331  ...                    NÃO
2              45333  ...                    NÃO

[3 rows x 13 columns]

In [ ]:
sorted(pd.unique(df['total_aeronaves_envolvidas']))

[1, 2, 3]

In [ ]:
sorted(pd.unique(df['ocorrencia_aerodromo']))

In [ ]:
df['bkp_ocorrencia_aerodromo'] = df.ocorrencia_aerodromo

In [ ]:
df.head(2)

   codigo_ocorrencia  ... ocorrencia_saida_pista
0              52242  ...                    NÃO
1              45331  ...                    NÃO

[2 rows x 13 columns]

In [ ]:
df2 = df.copy()

In [ ]:
df2

      codigo_ocorrencia  ... ocorrencia_saida_pista
0                 52242  ...                    NÃO
1                 45331  ...                    NÃO
2                 45333  ...                    NÃO
3                 45401  ...                    NÃO
4                 45407  ...                    NÃO
...                 ...  ...                    ...
5162              80458  ...                    NÃO
5163              80452  ...                    NÃO
5164              80457  ...                    NÃO
5165              80460  ...                    NÃO
5166              80467  ...                    NÃO

[5167 rows x 13 columns]

In [ ]:
df.drop('bkp_ocorrencia_aerodromo',axis=1,inplace=True)

In [ ]:
df2 = df.copy()

In [ ]:
df2.head(5)

   codigo_ocorrencia ocorrencia_classificacao  ... saida_pista ocorrencia_teste
0              52242                INCIDENTE  ...         NÃO              BIS
1              45331                 ACIDENTE  ...         NÃO              BIS
2              45333                 ACIDENTE  ...         NÃO              BIS
3              45401                 ACIDENTE  ...         NÃO              BIS
4              45407                 ACIDENTE  ...         NÃO              BIS

[5 rows x 13 columns]

In [ ]:
df2.loc[df2.uf == 'SP',['status']]

In [ ]:
df2.loc[df2.uf == 'RS']

In [ ]:
df2.head(3)

   codigo_ocorrencia ocorrencia_classificacao  ... saida_pista ocorrencia_teste
0              52242                INCIDENTE  ...         NÃO              BIS
1              45331                 ACIDENTE  ...         NÃO              BIS
2              45333                 ACIDENTE  ...         NÃO              BIS

[3 rows x 13 columns]

In [ ]:
filtrouf = df2.uf == 'SP'
filtroclass = df2.ocorrencia_classificacao == 'INCIDENTE GRAVE'
filtrocidade = df2.cidade == 'SÃO PAULO'

In [ ]:
dfreduzido = df2.loc[filtrouf & filtroclass & filtrocidade]

In [ ]:
dfreduzido

In [ ]:
filtrors = df2.uf == 'RS'
filtrorj = df2.uf == 'RJ'

In [ ]:
df2.loc[filtrors | filtrorj]

      codigo_ocorrencia ocorrencia_classificacao  ... saida_pista ocorrencia_teste
0                 52242                INCIDENTE  ...         NÃO              BIS
2                 45333                 ACIDENTE  ...         NÃO              BIS
4                 45407                 ACIDENTE  ...         NÃO              BIS
10                45332                 ACIDENTE  ...         NÃO              BIS
11                52245                INCIDENTE  ...         NÃO              BIS
...                 ...                      ...  ...         ...              ...
5136              80430                INCIDENTE  ...         NÃO              BIS
5138              80428                 ACIDENTE  ...         NÃO              BIS
5141              80429                 ACIDENTE  ...         SIM              BIS
5147              80440                 ACIDENTE  ...         NÃO              BIS
5164              80457          INCIDENTE GRAVE  ...         NÃO              BIS

[729 rows x 13 columns]

In [ ]:
filtro2020 = df2.data.dt.year == 2020

In [ ]:
dados2020 = df2.loc[filtro2020]

In [ ]:
dados2020.to_csv('dados2020.csv')

In [ ]:
df2.to_csv('completao.csv')